body {
}

* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

@media screen and (max-width:320px) {
    header{
        font-size: 150%;
    }
}

footer {
    vertical-align:bottom;
}