.main {
    margin: auto;
    padding: 10px 10px 10px 80px;
    width: 90%;
    display: block;
    height: auto;
}

#profiles {
    width: 100%;
}

figure {
    width: 70%;
    height: auto;
}

figcaption {
    font-size: 50%;
    padding: 2%;
}

#ivelin {
    content: url(pictures/ivelin.png);
}

#momchil {
    content: url(pictures/momchil.PNG);
}

#georgi {
    content: url(pictures/georgi.jpg);
}

#petar {
    content: url(pictures/petar.jpg);
}

#apostol {
    content: url(pictures/apostol.jpg);
}

#profiles div {
    background-color: white;
    display: inline-block;
    text-align: center;
    width: 18%;
    height: auto;
    border: 3px solid green;
    float: left;
    padding: 1%;
    margin: 1%;
}
