#main {
    margin:10px;
    align-content:center;
    
}

#soft-uni, #elysium {
    width:590px;
    height:auto;
    margin:10px 20px;
    padding:20px;
    display: inline-block;
    float: left;
    background-color:rgba(255, 255, 255, 0.7);
    border:1px solid green;
    border-radius:5px;
}

h4 {
    width:auto;
    text-align:center;
    background-color:rgba(255, 216, 0, 0.7);
    color:black;
    font-size:30px;
    border:2px solid black;
    border-radius:5px;
    padding:10px;
    margin:10px;
   
}

@media scree and (max-width:1024px){
    articles {
        width:100%;
    } 
}
